<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  
<script>  

serviceCall = function (component) {
  var requestData = {};
  var request = {};
  var requestParam = [];
 var ServiceName ="";

  if (component == "registration") {
    ServiceName="SubmitRegistration";


    name = $("#name").val();
    email = $("#email").val();
    country = $("#country").val();
    password = $("#pwd").val();

    requestParam.push({
      "k": 'name',
      'v': name
    });
    requestParam.push({
      "k": 'email',
      'v': email
    });
    requestParam.push({
      "k": 'country',
      'v': country
    });
    requestParam.push({
      "k": 'password',
      'v': password
    });
    request["ServiceName"]= ServiceName;
    request["params"] = requestParam;
    requestData["data"] = request;
console.log(JSON.stringify(requestData));
    donetwork(ServiceName, requestData);
  }

}

donetwork = function (ServiceName, requestData) {
  $.post(ServiceName, requestData, function (data) {
    if (data.data.success == "true") { //Service Success
      swal(data.data.output[0].v);
    }else if(data.data.success=="false" && data.data.output.length>0){ //validation Error 
      // swal( data.data.success);
      swal( data.data.output[0].msg);

    }else { //Service Error
      swal( "Service Error");

    }
  });
}</script>
<body>
<%
getPriceChgArrow = function() {
 
    return "arrow_img_name";
}
%>





</body>