<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/functions.ejs %>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
      
      </script>
      <script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>



</head>
<% include ../partials/nav.ejs %>
<body class="BG">
    <!-- <%= getPriceChgArrow() %> -->

      <div class="containera BG">
        <form method="post" action="SubmitRegistration">
          <!-- <input type="TEXT" id="user" size="40"><br>
    <input type="password" id="password" size="40"> -->


          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="name">Country:</label>

            <select id="country" name="country" class="form-control">
              <option value="australia">Australia</option>
              <option value="canada">Canada</option>
              <option value="India">India</option>
            </select>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" name="pwd">
          </div>
          <div class="row center">
            <!-- <input type="submit" id="submit" value="Submit" > -->
            <!-- <input type="button" class="submit" id="submit" value="Submit" onclick="serviceCall('registration')"> -->
            <!-- <input type="button" class="submit" id="submit" value="Submit" onclick="initFirebase()">
             -->
            <input type="button" class="submit" id="submit" value="Submit" onclick="serviceCall('registration')">

          </div>
        </form>
      </div>


</body>

</html>
